*.pyc
.scrapy
.job
.ipynb_checkpoints
*.egg-info/
.idea/
crawler/data
crawler/dbs
crawler/logs
crawler/items
crawler/twistd.pid
crawler/build
searchengine/build
searchengine/build/
.classpath
.project
*.iml
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.core.resources.prefs
.pydevproject
.settings/
eggs/
logs/
*.pid
dbs/
target/
output/
.settings/
crawler/build/
dbs/
eggs/
searchengine/
twistd.pid
