*.pyc
.scrapy
.job
.ipynb_checkpoints
*.egg-info/
.idea/
crawler/data
crawler/dbs
crawler/logs
crawler/items
crawler/twistd.pid
.classpath
.project
*.iml
.settings/org.eclipse.ltk.core.refactoring.prefs
crawler/build/
dbs/
eggs/
searchengine/
twistd.pid