*.pyc
.scrapy
.job
.ipynb_checkpoints
*.egg-info/
.idea/
crawler/data
crawler/dbs
crawler/logs
crawler/items
crawler/twistd.pid
crawler/build
.classpath
.project
*.iml
.settings/org.eclipse.ltk.core.refactoring.prefs
.pydevproject
