{% extends "layout.html" %}
{% block content %}
{% if use_cc_data %}
{% set host_path = '/cc-hosts' %}
{% set url_path = '/cc-urls' %}
{% elif use_known_data %}
{% set host_path = '/known-hosts' %}
{% set url_path = '/known-urls' %}
{% else %}
{% set host_path = '/hosts' %}
{% set url_path = '/urls' %}
<input id="search" type="text" class="form-control input-lg" placeholder="Enter a search term and press enter to search hosts" action="search();" method="GET">
</input>

<script>
	$('#search').keypress(function(e) {
		if (e.which == 13) {
			var search = $('#search').val();
			var search_url = "/?filter-field=host&filter-regex=" + search;
			window.location.replace(search_url);
			return false;
		}
	}); 
</script>
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
	<style>
		body {
			background: #E9E9E9;
		}
		#blog-landing {
			margin-top: 81px;
			position: relative;
			max-width: 100%;
			width: 100%;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		.white-panel {
			position: absolute;
			background: white;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
			padding: 10px;
		}
		.white-panel h1 {
			font-size: 1em;
		}
		.white-panel h1 a {
			color: #A92733;
		}
		.white-panel:hover {
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
			margin-top: -5px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	</style>

	<!--<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
</head>
<!-- NAVBAR
================================================== -->

<body>
	<div id="top-of-page"></div>
	<div class="jquery-script-ads">
		<script type="text/javascript"></script>
	</div>
	<!--25,300-->
	<button id="page-up" style="width:100%; height:40px; position:absolute; display:none ;" class="btn btn-warning" onclick="loadPrevious();">
		PAGE UP
	</button>

	<div class="jquery-script-clear"></div>
	<!--<h1 style="margin-top:150px" align="center">Hyperion Gray SourceFinder</h1>-->
	<div class="container marketing">
		<section id="blog-landing"></section>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="{{ url_for('static', filename='js/pinterest_grid.js') }}"></script>

	<div id="bottom-of-page">
		<button id="page-down" style="width:100%; height:40px; position:relative; margin-top:150px; visibility:hidden;" class="btn btn-success" onclick="loadMore();">
			PAGE DOWN
		</button>
	</div>
</body>
<script>
	var loaded_pages = [];

	//Nobody should be using this
	function sleep(milliseconds) {
		console.log("sleeping for " + milliseconds);
		var start = new Date().getTime();
		for (var i = 0; i < 1e7; i++) {
			if ((new Date().getTime() - start) > milliseconds) {
				break;
			}
		}
	}

	function checkCollapse(from_bottom) {

		if (loaded_pages.length > 3) {
			if (from_bottom) {
				var page_to_remove = loaded_pages[loaded_pages.length - 1];
				console.log("Collapsing page " + String(page_to_remove));
				$(".page-" + String(page_to_remove)).remove();
				loaded_pages.pop();
			} else {
				var page_to_remove = loaded_pages[0];
				console.log("Collapsing page " + String(page_to_remove));
				$(".page-" + String(page_to_remove)).remove();
				loaded_pages.shift();
			}
			console.log("Loaded pages: " + String(loaded_pages));

		}
	}

	var is_first_load = 0;
	function checkDisabled() {
		if (loaded_pages[0] != 0) {
			$("#page-up").css("display", "");
		} else {
			$("#page-up").css("display", "none");
		}
		if (is_first_load == 0) {
			$("#page-down").css("visibility", "visible");
		}
	}

	function loadPrevious() {
		var page_to_load = loaded_pages[0] - 1;
		if (page_to_load < 0) {
			console.log("Got order to load page less than 0, returning.");
			return null;
		}

		console.log("Loading previous page " + String(page_to_load));
		host_url = "{{ host_path }}/" + String(page_to_load);
		{% if filter_regex and filter_field %}
		host_url = host_url + "?filter-regex={{ filter_regex }}&filter-field={{ filter_field }}";
		{% endif %}

		$.ajaxSetup({
			async : false
		});
		$.get(host_url, function(host_html) {
			$("section#blog-landing").prepend(host_html);
			//     $(window).bind('scroll', bindScroll);
			if (host_html) {
				loaded_pages.unshift(page_to_load);
				console.log("Loaded pages: " + String(loaded_pages));
				checkCollapse(true);
			}
		});
		$.ajaxSetup({
			async : true
		});
		console.log("load previous");
		checkDisabled();
	}

	function loadMore() {
		console.log("Loading more");
		
		if (loaded_pages.length !== 0) {
			var page_to_load = loaded_pages[loaded_pages.length - 1] + 1;
		} else {
			var page_to_load = 0;
		}

		if (page_to_load < 0) {
			console.log("Got order to load page less than 0, returning.");
			return null;
		}

		host_url = "{{ host_path }}/" + page_to_load;
		{% if filter_regex and filter_field %}
		host_url = host_url + "?filter-regex={{ filter_regex }}&filter-field={{ filter_field }}";
		{% endif %}

		$.ajax({
			url: host_url,
			success: function(host_html) {
						if (host_html) {
							$("#page-down").css("visibility", "hidden");
							setTimeout(function(){
								$("section#blog-landing").append(host_html);
								loaded_pages.push(page_to_load);
								checkCollapse(false);
								console.log("Loaded pages: " + String(loaded_pages));
								setTimeout(function(){
								checkDisabled();},10);
							},10);
						} else {
							console.log("No more pages to load!");
						}
					},
			async:false	
		});
	}

	//return $.waypoints('viewportHeight') - $(this).height() + 100;

	$(document).ready(function() {

		$('#blog-landing').pinterest_grid({
			no_columns : 4,
			padding_x : 10,
			padding_y : 10,
			margin_bottom : 50,
			single_column_breakpoint : 700
		});

		//user scrolls up and hits top of page
		$('#top-of-page').waypoint(function(direction) {
			console.log("Got upward action at top of page...");
			if (direction == "up") {
				loadPrevious();
			}
		});

		//user scrolls down and hits bottom of page
		$('#bottom-of-page').waypoint(function(direction) {
			console.log("Got downward action at bottom of page...");
			if (direction == "down") {
				loadMore();
			}
		}, {
			offset : 'bottom-in-view'
		});

	});

</script>
</html>
{% endblock %}
