{% extends "layout.html" %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
	<style>
		body {
			background: #E9E9E9;
		}
		#blog-landing {
			margin-top: 81px;
			position: relative;
			max-width: 100%;
			width: 100%;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		.white-panel {
			position: absolute;
			background: white;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
			padding: 10px;
		}
		.white-panel h1 {
			font-size: 1em;
		}
		.white-panel h1 a {
			color: #A92733;
		}
		.white-panel:hover {
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
			margin-top: -5px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	</style>

	<!--<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
</head>
<!-- NAVBAR
================================================== -->

{% block content %}


<body>

<script>
function submitUrlForCrawl() {

  url = document.getElementById('addDiscoveryText').value
  scrapyd_url = "/schedule-spider/?url=" + url;
  console.log("Scheduled job");
  $.get(scrapyd_url, function( whatever ) {
    console.log("The job was successfully scheduled")
    location.reload()
  });
}

function getUrlCrawlStatus(url, url_hash) {

    //$("td#" + url_hash).html('<span style="text-decoration:blink">Reloading...</span>');
    console.log("Getting status");
    status_url = "/url-job-state/?url=" + url;

  $.get(status_url, function( status ) {
    console.log("Everything's good y'all, s'all good, s'all good");
    $("td#" + url_hash).html(status);
  	
  	if(status != "Done"){
		setTimeout(function() {
			getUrlCrawlStatus(url, url_hash);
		}, 5000);
  	}
  });
  
}

</script>

	<!--25,300-->
	<!-- <button id="page-up" style="width:100%; height:40px; position:absolute; display:none ;" class="btn btn-warning" onclick="loadPrevious();">PAGE UP</button> -->
	<div class="jquery-script-clear"></div>
	<div id="container">

		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Crawl by Search Terms</h3>
						</div>
						<div class="panel-body">
							<div>
							Enter search terms to add to the crawl, click fetch to start the crawl
							</div>
							<div class="input-group">
								<input id="addText" type="text" class="form-control" style="width:1050px;">
								<span class="input-group-btn">
									<button id="addButton" class="btn btn-default" type="button">
										Add
									</button> </span>
							</div><!-- /input-group -->
							<div id="tags">
							</div>
						</div>
						<div class="panel-footer">
							<span class="input-group-btn">
								<!--<button id="saveButton" class="btn btn-default " type="button">
									Save Search Term
								</button>--> 
								<button id="fetchButtonSearch" class="btn btn-default " type="button">
									Fetch by Search Terms
								</button>
							</span>
						</div>
					</div>
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</div>

		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Crawl by Seed URL</h3>
						</div>
						<div class="panel-body">
							<div>
							Enter a seed url and click fetch to start the crawl
							</div>
							<div class="input-group">
								<input id="addDiscoveryText" type="text" class="form-control" style="width:1050px;">
								<span class="input-group-btn">
									<!--<button id="addButton" class="btn btn-default" type="button">
									</button>--></span>
							</div><!-- /input-group -->
							<div id="tags">
							</div>
						</div>
						<div class="panel-footer">
							<span class="input-group-btn">
								<button id="fetchButtonDiscovery" class="btn btn-default " type="button">
									Fetch by seed URL
								</button>
							</span>
						</div>
					</div>
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</div>



	</div>
	
	
<table id="" class="table table-striped" style="margin-top:50px;">
  <thead>
    <tr>
      <th>URL or Search Terms</th>
      <th>Crawl Status</th>
    </tr>
  </thead>
  <tbody>
  
	{% for seed in seeds %}
	<tr>
          <td>{{ seed["url"] }}</td>
          <td id="{{ seed['url_hash'] }}">Initializing...</td>
	</tr>
	<script>
	  $( document ).ready(function() {
          getUrlCrawlStatus('{{ seed["url"] }}', '{{ seed["url_hash"] }}');
	  });
	</script>

	{% endfor %}
  </tbody>
</table>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="{{ url_for('static', filename='js/pinterest_grid.js') }}"></script>

	<script>

		var url = '/api/searchterm/';

		var saveSearchTerms = function() {

				var searchterms = [];
				$.each($(".searchterm"), function(index, elem) {
					//alert(elem.textContent.trim());
					searchterms.push(elem.textContent.trim());
				});


				var posting = $.ajax({
					type : "PUT",
					url : url,
					contentType: 'application/json',
  					dataType: 'json',
  					data: JSON.stringify(searchterms),
					success : function(data) {
						//alert(data);
					}
				});
			};

		var newKey = function(){
			var key = $('#addText').val();
			if(key == '')
				return false;
			renderTags(key);
			$('#addText').val('');
			saveSearchTerms();
		};
		
		var renderTags = function(key){
			var template =
			'<button type="button" onclick="remove(this); saveSearchTerms();" class="searchterm btn btn-default-inverse btn-sm" style="margin-top:10px">' + 
				'<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ####' +
			'</button>&nbsp;';
			template = template.replace('####',key);
			$('#tags').append(template);
		};

		var renderSearchTerms = function(data) {
			var obj = $.parseJSON(data);

			$.each(obj, function(index, elem){
				renderTags(elem);
			});
		};

		var fetchSearchTerms = function(){
				var searchterms = [];
				$.each($(".searchterm"), function(index, elem) {
					searchterms.push(elem.textContent.trim());
				});

				var posting = $.ajax({
					type : "POST",
					url : '/api/fetch-searchterm/',
					contentType: 'application/json',
  					dataType: 'json',
  					data: JSON.stringify(searchterms),
					success : function(data) {
						console.log(data);
						window.location.reload(true);
					}
				});
				
				
				
		}

		$(document).ready(function() {
			$('#addText').keypress(function(e) {
					if (e.which == 13) {// enter pressed
						newKey.apply();
					}
					else if (e.which == 44) {// ',' pressed
						newKey.apply();
						return false;
					}

			});
			
			$('#addButton').click(newKey);
			$('#saveButton').click(saveSearchTerms);

			$('#fetchButtonSearch').click(fetchSearchTerms);
			$('#fetchButtonDiscovery').click(submitUrlForCrawl);

			var searchterms = $.get(url, function(data){
				renderSearchTerms(data);
			});

		});

	</script>
</body>

</html>
{% endblock %}
