{% for host_dic in hosts %}
{% if host_dic["host"] %}
{% if use_cc_data %}
    {% set host_path = '/cc-hosts' %}
    {% set url_path = '/cc-urls' %}
{% elif use_known_data %}
    {% set host_path = '/known-hosts' %}
    {% set url_path = '/known-urls' %}    
{% else %}
    {% set host_path = '/hosts' %}
    {% set url_path = '/urls' %}
{% endif %}

<article class="white-panel" id="{{ host_dic["host"] }}">
<!--<span class="glyphicon glyphicon-ok-circle" style="cursor: pointer;"></span>
<span class="glyphicon glyphicon-remove-circle" style="cursor: pointer; cursor: hand;"></span>-->

{% if 'hsu_screenshot_path' in host_dic and host_dic['hsu_screenshot_path'] %}
  {% set hsu_screenshot_path = host_dic['hsu_screenshot_path'] %}
  <img src="{{ url_for('static', filename=hsu_screenshot_path) }}" alt="ALT">
{% else %}
  <img src="" alt="No Image Available">
{% endif %}

<h1><a href="{{ url_path }}/{{ host_dic["host"] }}">Host: {{ host_dic["host"] }}<br /></a></h1>
<p>Number of URLs found: {{ host_dic["num_urls"] }}</p>

{% if host_dic["host_score"] != 0 %}
  <p>Score: {{ host_dic["host_score"] }}</p>
{% endif %}

{% if "is_known_host" in host_dic %}
  {% if host_dic["is_known_host"] %}
    <button style="float:right;" class="btn btn-danger" disabled>Known</button>  
  {% else %}
    <button style="float:right;"class="btn btn-success" disabled>New Host</button>  
  <!--<p>Known host: {{ host_dic["is_known_host"] }}</p>-->
  {% endif %}
{% endif %}


</article>

{% endif %}
{% endfor %}
