{% for host_dic in hosts %}
{% if host_dic["host"] %}
{% if use_cc_data %}
    {% set host_path = '/cc-hosts' %}
    {% set url_path = '/cc-urls' %}
{% elif use_known_data %}
    {% set host_path = '/known-hosts' %}
    {% set url_path = '/known-urls' %}
{% else %}
    {% set host_path = '/hosts' %}
    {% set url_path = '/urls' %}
{% endif %}

<article class="white-panel page-{{ page }}" id="{{ host_dic["host"] }}" style="word-wrap:break-word;">
<!--<span class="glyphicon glyphicon-ok-circle" style="cursor: pointer;"></span>
<span class="glyphicon glyphicon-remove-circle" style="cursor: pointer; cursor: hand;"></span>-->

{% if 'hsu_screenshot_path' in host_dic and host_dic['hsu_screenshot_path'] %}
  {% set hsu_screenshot_path = host_dic['hsu_screenshot_path'] %}
  <img src="{{ url_for('static', filename=hsu_screenshot_path) }}" alt="ALT">
{% else %}
<!--  <img src="" alt="No Image Available">-->
{% endif %}

<span style="float:right; margin-right:5px;margin-left:5px; cursor: pointer; cursor: hand;" class="glyphicon glyphicon-remove check-no-interest" data-host='{{host_dic["host"]}}'></span>

{% if host_dic["display"] == 1 %}
  <span id="{{ host_dic["host_hash"] }}" style="float:right;cursor: pointer; cursor: hand; display:none;" class="glyphicon glyphicon-ok check-yes-interest" data-host='{{host_dic["host"]}}'  data-hosthash='{{ host_dic["host_hash"] }}'></span>
{% else %}
  <span id="{{ host_dic["host_hash"] }}" style="float:right;cursor: pointer; cursor: hand;" class="glyphicon glyphicon-ok check-yes-interest" data-host='{{host_dic["host"]}}'  data-hosthash='{{ host_dic["host_hash"] }}'></span>
{% endif %}

<h1>Host: <a href="http://{{ host_dic["host"] }}" target="_blank">{{ host_dic["host"] }}</a></h1>

<p><a href="{{ url_path }}/{{ host_dic["host"] }}">URLs: {{ host_dic["num_urls"] }}</a></p>

{% if host_dic["host_score"] != 0 and not use_known_data %}
  <p>Score: {{ host_dic["host_score"] }}</p>
{% endif %}



	{% if use_known_data %}
	  <!-- No tags for known data -->
	{% else %}
      <p>Tags: <span id='span_tag_{{host_dic["host"].replace(".","_")}}'>{{ host_dic["tags_joined"] }}</span></p>        
      <button id='btn_tag_{{host_dic["host"].replace(".","_")}}' custom_tag='{{host_dic["tags_joined"]}}' type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-host='{{host_dic["host"]}}' data-tags='{{host_dic["tags_joined"]}}' data-target='#myModal'>
          Edit Tags
      </button>
    {% endif %}

    <!--<button type="button" class="btn-remove btn btn-primary btn-sm" data-host='{{host_dic["host"]}}' >
        Remove
    </button>-->


{% if "is_known_host" in host_dic %}
  {% if host_dic["is_known_host"] %}
    <button style="float:right;" class="btn btn-default btn-sm" disabled>Known</button>
  {% else %}
    <button style="float:right;"class="btn btn-default btn-sm" disabled>New Host</button>
  <!--<p>Known host: {{ host_dic["is_known_host"] }}</p>-->
  {% endif %}
{% endif %}



</article>

{% endif %}
{% endfor %}

