{% extends "layout.html" %}
{% block content %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
	<style>
		body {
			background: #E9E9E9;
		}
		#blog-landing {
			margin-top: 81px;
			position: relative;
			max-width: 100%;
			width: 100%;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		.white-panel {
			position: absolute;
			background: white;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
			padding: 10px;
		}
		.white-panel h1 {
			font-size: 1em;
		}
		.white-panel h1 a {
			color: #A92733;
		}
		.white-panel:hover {
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
			margin-top: -5px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	</style>

	<!--<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
</head>
<!-- NAVBAR
================================================== -->

<body>
	<div id="top-of-page"></div>
	<div class="jquery-script-ads">
		<script type="text/javascript"></script>
	</div>
	<!--25,300-->
	<!-- <button id="page-up" style="width:100%; height:40px; position:absolute; display:none ;" class="btn btn-warning" onclick="loadPrevious();">PAGE UP</button> -->
	<div class="jquery-script-clear"></div>
	<div id="container">

		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Target Keywords</h3>
						</div>
						<div class="panel-body">
							<div>
							Enter a keyword
							</div>
							<div class="input-group">
								<input id="addText" type="text" class="form-control">
								<span class="input-group-btn">
									<button id="addButton" class="btn btn-default" type="button">
										Add
									</button> </span>
							</div><!-- /input-group -->
							<div id="tags">
							</div>
						</div>
						<div class="panel-footer">
							<span class="input-group-btn">
								<button id="saveButton" class="btn btn-default " type="button">
									Save
								</button> 
								<!--<button id="fetchButton" class="btn btn-default " type="button">
									Fetch
								</button>-->
							</span>
						</div>
					</div>
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="{{ url_for('static', filename='js/pinterest_grid.js') }}"></script>

	<script>

		var url = '/api/keyword/';

		var newKey = function(){
			var key = $('#addText').val();
			if(key == '')
				return false;
			renderTags(key);
			$('#addText').val('');
		};
		
		var renderTags = function(key){
			var template =
			'<button type="button" onclick="remove(this);" class="keyword btn btn-default-inverse btn-sm" style="margin-top:10px">' + 
				'<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ####' +
			'</button>&nbsp;';
			template = template.replace('####',key);
			$('#tags').append(template);

		};
		
		var saveKeywords = function() {

				var keywords = [];
				$.each($(".keyword"), function(index, elem) {
					//alert(elem.textContent.trim());
					keywords.push(elem.textContent.trim());
				});


				var posting = $.ajax({
					type : "PUT",
					url : url,
					contentType: 'application/json',
  					dataType: 'json',
  					data: JSON.stringify(keywords),
					success : function(data) {
						//alert(data);
					}
				});
			};

		var renderKeywords = function(data) {
			var obj = $.parseJSON(data);

			$.each(obj, function(index, elem){
				renderTags(elem);
			});
		};

		var fetchKeywords = function(){
				var keywords = [];
				$.each($(".keyword"), function(index, elem) {
					keywords.push(elem.textContent.trim());
				});

				var posting = $.ajax({
					type : "POST",
					url : '/api/fetch-keyword/',
					contentType: 'application/json',
  					dataType: 'json',
  					data: JSON.stringify(keywords),
					success : function(data) {
						alert(data);
					}
				});
		}



		$(document).ready(function() {
			$('#addText').keypress(function(e) {
					if (e.which == 13) {// enter pressed
						newKey.apply();
					}
					else if (e.which == 44) {// ',' pressed
						newKey.apply();
						return false;
					}

			});
			
			$('#addButton').click(newKey);
			$('#saveButton').click(saveKeywords);

			$('#fetchButton').click(fetchKeywords);





			var keywords = $.get(url, function(data){
				renderKeywords(data);
			});

		});

	</script>
</body>

</html>
{% endblock %}
