<!doctype html>
<meta charset=utf-8>

<title>SourcePin</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}" charset=utf-8></script>
<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel=stylesheet>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel=stylesheet>
<link href="{{ url_for('static', filename='css/d3.slider.css') }}" rel=stylesheet>
<link href="{{ url_for('static', filename='css/hg.css') }}" rel=stylesheet>
<link href=https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css rel=stylesheet>
<script src=https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js></script>

<body style="background-color: #E9E9E9">

  <div id=info-panel class="modal fade">
  <div class=modal-dialog>
      <div class=modal-content>
          <div class=modal-header>
              <h3>Information</h3>
            </div>

            <div class=modal-body>
	      <p>SourcePin is meant to provide a quick way to find new sources specific to your domain.</p>
	      <p>Provided by Team Hyperion Gray for the Memex program.</p>
    	    </div>
	    
            <div class=modal-footer>
              <a class="btn btn-default" data-dismiss=modal>OK</a>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <div class=navbar-header>
      <div class=navbar-brand>SourcePin - Human Trafficking</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-screenshot"></span> View Crawl Data</a>
      <li><a href="/?filter-field=host&filter-regex=\.onion$"><span class="glyphicon glyphicon-screenshot"></span> View Darkweb Data</a>
      <li><a href="/known-data"><span class="glyphicon glyphicon-globe"></span> Known Sites</a>
      <li><a href="/discovery"><span class="glyphicon glyphicon-globe"></span> Crawl New Sites</a>
      <li><a data-toggle=modal data-target=#info-panel><span class="glyphicon glyphicon-info-sign"></span> Info</a>
    </ul>
</div>

<!--<div id="content">-->
{% block content %}
{% endblock %}
<!--</div>-->

</body>
