{% extends "layout.html" %}
{% block content %}
<table id="" class="table table-striped" style="margin-top:50px;">
  <thead>
    <tr>
      <th>URL</th>
      {% if not use_cc_data and not use_known_data %}
        <th>Interesting</th>
      {% endif %}
      <th>Host</th>
      <th>Score</th>
      <th>Crawled At</th>
      <th>Seed</th>
      <th>Title</th>
      <th>Screenshot</th>
      <th>Crawl</th>
    </tr>
  </thead>
  <tbody>
  {% for url_dic in urls %}
      <tr>
        <td>
	  <!--<span class="glyphicon glyphicon-screenshot"></span>-->
	  &nbsp;<a href="{{ url_dic["url"] }}">{{ url_dic["url"][:40] }}</a>
	</td>
      {% if not use_cc_data and not use_known_data  %}
	
        <td>
	    {% if "interest" in url_dic and url_dic["interest"] %}
	      <button id='yes-{{ url_dic["url_hash"] }}' class="btn btn-success" onclick="markInterest('true', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'yes');" disabled>yes</button>
	      <button id='no-{{ url_dic["url_hash"] }}' class="btn btn-danger" onclick="markInterest('false', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'no');">no</button>
	    {% elif "interest" in url_dic and not url_dic["interest"] %}
  	      <button id='yes-{{ url_dic["url_hash"] }}' class="btn btn-success" onclick="markInterest('true', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'yes');">yes</button>
	      <button id='no-{{ url_dic["url_hash"] }}' class="btn btn-danger" onclick="markInterest('false', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'no');" disabled>no</button>
	    {% else %}
	      <button id='yes-{{ url_dic["url_hash"] }}' class="btn btn-success" onclick="markInterest('true', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'yes');">yes</button>
	      <button id='no-{{ url_dic["url_hash"] }}' class="btn btn-danger" onclick="markInterest('false', '{{ url_dic["url"] }}', '{{ url_dic["url_hash"] }}', 'no');">no</button>
	    {% endif %}

  	   <p style="margin-top:4px;">Currently: {{ url_dic["interest"] }}</p>-
	  <!--<div onclick="markInterest('true', '{{ url_dic["url"] }}');">ddddddddddddd</div>-->
	  <!--<span class="glyphicon glyphicon-screenshot"></span>-->
    	</td>
      {% endif %}	

	{% if "host" in url_dic and url_dic["host"] %}
          <td>{{ url_dic["host"] }}</td>
        {% else %}
          <td></td>
	{% endif %}

	{% if "score" in url_dic and url_dic["score"] %}
          <td>{{ url_dic["score"] }}</td>
        {% else %}
          <td>N/A</td>
	{% endif %}

	{% if "crawled_at" in url_dic and url_dic["crawled_at"] %}
          <td>{{ url_dic["crawled_at"] }}</td>
        {% else %}
          <td></td>
	{% endif %}

	{% if "is_seed" in url_dic and url_dic["is_seed"] %}
          <td>{{ url_dic["is_seed"] }}</td>
        {% else %}
          <td>No</td>
	{% endif %}

	{% if "title" in url_dic and url_dic["title"] %}
          <td>{{ url_dic["title"] }}</td>
        {% else %}
          <td></td>
	{% endif %}

	{% if "screenshot_path" in url_dic %}	  
	  {% set screenshot_path = url_dic["screenshot_path"] %}
          <td><img src="{{ url_for('static', filename=screenshot_path) }}"></img></td>
        {% else %}
          <td></td>
	{% endif %}
		<td><button class="btn btn-primary" onclick="submitUrlForCrawl('{{ url_dic["url"] }}')">Crawl from here</button></td>

      </tr>
  {% endfor %}
  </tbody>
</table>

<script>
function markInterest(interest, url, url_hash, mark_as) {

  console.log("Marking interest");
  console.log(url);
  interest_url = "/mark-interest/" + interest + "?url=" + encodeURIComponent(url);

  $.get(interest_url, function( status ) {
    console.log("Everything's good marking interest sent to url: " + interest_url);

	dont_mark_as = "";
	if (mark_as == 'yes') {
		dont_mark_as = 'no';
	}
	else {
		dont_mark_as = 'yes';
	}

	$("#" + mark_as + "-" + url_hash).prop('disabled', true);
	$("#" + dont_mark_as + "-" + url_hash).prop('disabled', false);


  });
}

function submitUrlForCrawl(url) {

  scrapyd_url = "/schedule-spider/?url=" + url;
  //alert(scrapyd_url);
  console.log("Scheduled job");
  $.get(scrapyd_url, function( whatever ) {
    console.log("The job was successfully scheduled")
    //location.reload();
    //alert('success');
  });
}

$(document).ready(function() {
	$.ajaxSetup ({
	    // Disable caching of AJAX responses
	    cache: false
	});
});


</script>

{% endblock %}
