html, body {
  width: 100%;
  height: 100%;
}

body {
 padding-top: 80px;
}

a {
cursor: pointer;
}

.spanlink {
  padding-left:40px; 
  font-weight:bold;
}

.spanlink:hover {

  text-decoration: underline;
}